<nav>
  <img class="logo" src="assets/svg/fulllogo_transparent_nobuffer.png">
  <div class="nav-options" [ngClass]="{ 'nav-options-contact': direction == 'contact' }">
    <span class="animate__animated animate__fadeInDown" [ngClass]="{ active: selectedMenuOption == 'home' }"
      (click)="menuSelect('home')">HOME</span>
    <span class="animate__animated animate__fadeInDown" [ngClass]="{ active: selectedMenuOption == 'services' }"
      (click)="menuSelect('services')">SERVICE</span>
    <span class="animate__animated animate__fadeInDown" [ngClass]="{ active: selectedMenuOption == 'contact' }"
      (click)="menuSelect('contact')">
      CONTACT</span>
  </div>
</nav>
<div class="main-container">
  <div #home>
    <app-home></app-home>
  </div>
  <div #services>
    <app-services></app-services>
  </div>
  <div #contact>
    <app-contact-us></app-contact-us>
  </div>
</div>
<div class="side-scroll" [style.opacity]="opacityValue" (click)="menuSelect('contact')">
  SCROLL FOR MORE <span>→</span>
</div>
<footer>
  <div>
    <h4>WHERE IMAGINATIONS MEETS INNOVATION</h4>
  </div>

  <div class="footer-infos">
    <img src="../../../assets/icons/instagram.svg" alt="" />
    <img src="../../../assets/icons/facebook.svg" alt="" />
    <img src="../../../assets/icons/linkedin.svg" alt="" />
  </div>
</footer>
