<nav>
  <img class="logo" src="assets/svg/fulllogo_transparent_nobuffer.png">
  <div class="nav-options" [ngClass]="{ 'nav-options-contact': direction == 'contact' }">
    <span class="animate__animated animate__fadeInDown" [ngClass]="{ active: selectedMenuOption == 'home' }"
      (click)="menuSelect('home')">HOME</span>
    <span class="animate__animated animate__fadeInDown" [ngClass]="{ active: selectedMenuOption == 'services' }"
      (click)="menuSelect('services')">SERVICE</span>
    <span class="animate__animated animate__fadeInDown" [ngClass]="{ active: selectedMenuOption == 'contact' }"
      (click)="menuSelect('contact')">
      CONTACT</span>
  </div>
</nav>
<div class="main-container">
  <div #home>
    <app-home></app-home>
  </div>
  <div #services>
    <app-services></app-services>
  </div>
  <div #contact>
    <app-contact-us></app-contact-us>
  </div>
</div>
<div class="side-scroll" [style.opacity]="opacityValue" (click)="menuSelect('contact')">
  SCROLL FOR MORE <span>→</span>
</div>
<div class="background-footer">
  <footer>
      <h1 class="title-caption">WHERE IMAGINATIONS MEETS INNOVATION</h1>
      <div class="footer-infos">
      <div class="">
        <a href="https://www.instagram.com/nexiphor/">
          <img src="../../../assets/icons/instagram.svg" alt="" />
        </a>
        <a href="https://www.facebook.com/nexiphor/">
          <img src="../../../assets/icons/facebook.svg" alt="" />
        </a>
        <a href="">
          <img src="../../../assets/icons/linkedin.svg" alt="" />
        </a>
      </div>
      <div class="email-container">
        <span >contact@nexiphor.com</span>
      </div>
    </div>
  </footer>
</div>
