<span class="title">BLOGS</span>
<div class="blogs-container">
  <div class="row row-cols-1 row-cols-md-4 g-4" style="justify-content: center">
    <div class="col">
      <div class="card">
        <img src="assets/svg/blog-1.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Business Idea</h5>
          <p class="card-text">Nexiphor is your trusted partner for web development, website design, and mobile app development. Our team of experts creates SEO-optimized, user-friendly web sites and mobile apps that drive online success. With Nexiphor, your digital presence is primed for growth and visibility.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/svg/blog-2.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Take Action now</h5>
          <p class="card-text">Take action now with Nexiphor for exceptional web development, bespoke websites, and cutting-edge mobile apps. Elevate your online presence and seize the digital future with our SEO-optimized solutions</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="assets/svg/blog-3.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Refer and Win: Get Rewarded for Referring Nexiphor!</h5>
          <p class="card-text">At Nexiphor, we believe in the power of connections and the value of your recommendations. Our 'Refer and Win' program is our way of saying thank you for spreading the word about our services.</p>
        </div>
        <button class="learn-more-button"><a href="https://www.instagram.com/p/CxnFRGHtZ8a/?img_index=1">Learn More!</a></button>
      </div>
    </div>
  </div>
</div>
