<div class="container text-center">
  <h1 class="header">Partner With Us</h1>
  <div class="row">
    <div class="col-sm-6 product-img">
      <img src="assets/svg/partner-img.svg" alt="">
    </div>
    <div class="col-sm-6 header-info">
      <h3 class="header-2">Partnerships Are The Cornerstone Of Achievements</h3>
      <span style="color: white">
        Elevate your journey with Nexiphor! We're seeking partners to amplify success and redefine possibilities. Ready to collaborate and innovate? Let's shape the future together! 🤝
      </span>
    </div>
  </div>
  <span class="benefits-title">Partnership Benefits</span>
  <div class="row justify-content-between" >
      <div class="col-sm-5 benefit" style="margin-bottom: 20px;">
        <span class="benefit-one-title">1. Win Projects <img src="assets/svg/win.svg" alt=""></span>
        <p>We'll augment our extra services with yours and steer clients in your direction.</p>
      </div>
      <div class="col-sm-5 benefit" style="margin-bottom: 20px;">
        <span class="benefit-one-title">
            2. Unlock Profitable Synergies
          <img src="assets/svg/unlock.svg" alt="">
        </span>
        <p>
          Enhance your service portfolio by integrating some of our services.For each service we provide that you offer, you'll profit.
        </p>
      </div>
  </div>
  <div class="row justify-content-between align-items-center">
      <div class="col-sm-5 benefit" style="margin-bottom: 20px;">
        <span class="benefit-one-title">
        3. Synergistic Marketing Initiatives
          <img src="assets/svg/arrow.svg" alt="">

        </span>
        <p>Synergistic marketing initiatives foster deeper connections with audiences as we join forces</p>
      </div>
      <div class="col-sm-5 benefit" style="margin-bottom: 20px;">
        <span class="benefit-one-title">4. You Have An App Idea
          <img src="assets/svg/idea.svg" alt="">
        </span>
        <p>
          From Idea to App: Your vision, our expertise. Let's create something extraordinary together!
        </p>
      </div>
  </div>
</div>
