<div class="container">
    <div class="row">
        <h2 style="color: #7FD858" class="text-center">Elevate Your Business with a Digital Presence</h2>
        <p class="text-white mt-2">In a world where connections are made in clicks and impressions are formed at first
            glance, a website
            is more than an online address. It's your 24/7 storefront, your global stage, and your passport to
            the digital realm.</p>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <img src="assets/svg/wbnw1.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 align-self-center">
            <h4 style="color: #7FD858">Why does your business need a website?</h4>
            <ul class="text-white">
                <li><strong class="text-white">Visibility & Reach:</strong> Be where your customers are. A website
                    catapults your
                    business beyond boundaries, making it accessible to anyone, anywhere, anytime.</li>
                <li><strong>Credibility & Trust:</strong> Establish trust in seconds. A professional, polished
                    website speaks volumes about your business, building credibility even before the first handshake.
                </li>
                <li><strong>Customer Engagement:</strong> Engage, inform, and inspire. Interact with your audience,
                    offer valuable insights, and forge lasting connections that transcend mere transactions.</li>
                <li><strong>Unleash Potential:</strong> Expand horizons, seize opportunities. Whether it's
                    e-commerce prowess, seamless booking systems, or captivating content, your website unlocks
                    infinite possibilities.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 align-self-center">
            <h4 style="color: #7FD858">Dive into Success Stories</h4>
            <p class="text-white">Discover how businesses like yours transformed their trajectory with the power of an
                online presence.
                From small startups to industry giants, witness the undeniable impact a website can have.</p>

            <h4 style="color: #7FD858">Take the Leap!</h4>
            <p class="text-white">Ready to harness the digital advantage? Let's craft your digital footprint, tailored
                to your unique
                goals. Embrace innovation, embrace possibility — your journey to online success begins here.</p>
        </div>
        <div class="col-md-6">
            <img src="assets/svg/wbnw2.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>