@keyframes pulse {
    0% {
        transform: scale(1);
        border-color: #7FD858;
    }
    50% {
        transform: scale(1.05);
        border-color: #68C24A;
    }
    100% {
        transform: scale(1);
        border-color: #7FD858;
    }
}

.container {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    animation: pulse 2s infinite;
    border-left: 10px dashed #7FD858;
    border-right: 10px dashed #7FD858;
}

img {
    border-radius: 20px;
    opacity: 1;
}


@media (max-width: 500px) {
    .container {
        border-left: 0px ;
        border-right: 0px ;
    }
}
