<div class="container  ">

  <div class="big-logo">
    <img class="img-1 animate__animated animate__fadeOutLeft animate__delay-1s	1s  animate__infinite	infinite"
    src="../../../../assets/svg/test-22.svg">
    <img class="img-1  "
    src="../../../../assets/svg/test.svg">
      <img class="img-2 animate__animated animate__fadeOutRight animate__delay-1s	1s  animate__infinite	infinite"
      src="../../../../assets/svg//test-23.svg">
    </div>

    <div class="title">
      <!-- <span class="">WE</span> -->
      <!-- <span class="">ARE</span> -->
      <!-- <span class="">NEXIPHOR <b style="color:#200E32; margin-left: -26px">...</b></span> -->
    </div>
  </div>
