<div class="container  ">

  <div class="big-logo">
    <img class="img-1 animate__animated animate__fadeOutLeft animate__delay-1s	1s  animate__infinite	infinite "
         src="../../../../assets/icons/logo-2.svg">

    <img class="img-2 animate__animated animate__fadeOutRight animate__delay-1s	1s  animate__infinite	infinite"
         src="../../../../assets/icons/logo-3.svg">
    <img class="img-1 " src="../../../../assets/icons/logo-1.svg">
  </div>

  <div class="title">
    <span class="">WE</span>
    <span class="">ARE</span>
    <span class="">NEXIPHOR <b style="color:#7FD858; margin-left: -26px">...</b></span>
  </div>
  <div class="description-container">Where Imagination Meets Innovation</div>
</div>
