<div class="contact-container">
  <div class="background">
    <h1 class="idea-title"  >HAVE AN IDEA?</h1>
    <span >I'm interested in...</span>
    <div class="site-options" >
      <div class="site-option" [ngClass]="{'selected-site':selectedSites.includes('site-from-scratch')}"
        (click)="addSite('site-from-scratch')">Web Development</div>
      <div class="site-option" [ngClass]="{'selected-site':selectedSites.includes('app-from-scratch')}"
        (click)="addSite('app-from-scratch')">Mobile App</div>
      <div class="site-option" [ngClass]="{'selected-site':selectedSites.includes('ui/ux')}" (click)="addSite('ui/ux')">
        UX/UI Design</div>
      <div class="site-option" [ngClass]="{'selected-site':selectedSites.includes('web-development')}"
        (click)="addSite('web-development')">Custom Software</div>
      <div class="site-option" [ngClass]="{'selected-site':selectedSites.includes('mobile-development')}"
        (click)="addSite('mobile-development')">E-Commerce</div>
      <div class="site-option" [ngClass]="{'selected-site':selectedSites.includes('other')}" (click)="addSite('other')">
        Other</div>
    </div>

    <div class="form">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <span class="error-msg" *ngIf="contactForm.get('name')?.invalid && submited">Name is required *</span>
        <input class="form-control" type="text" placeholder="Your name" formControlName="name">
        <span class="error-msg" *ngIf="contactForm.get('email')?.invalid && submited">Email is required *</span>
        <input class="form-control" type="email" placeholder="Your email" formControlName="email">

        <textarea class="form-control" type="text" placeholder="Tell us about your project" formControlName="message"></textarea>
        <button type="submit">
          <i class="fa fa-spinner fa-pulse me-2" *ngIf="submited"></i>
          <i class="fa fa-check me-2" *ngIf="submitedSuccessful"></i>
          Send Request</button>
      </form>
    </div>
  </div>
</div>
