<div class="service-container">
  <div class="container">
    <h1 class="text-center mb-4">Our Services</h1>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let service of services">
        <div class="card-container">
          <div class="circle-container outer-circle mx-auto">
            <div class="rounded-circle d-flex justify-content-center align-items-center">
              <div class="small-circle">
                <i class="fa fa-{{ service.icon }} fa-3x text-primary"></i>
              </div>
            </div>
          </div>
          <h5 class="mb-0 text-center">{{ service.title }}</h5>
          <div class="card-content">
            <div class="description-full">{{ service.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>